{
    "overrides": [
        {
            "files": ["*.js"],
            "options": {
                "semi": true,
                "singleQuote": true,
                "tabWidth": 2
            }
        }
    ]
}
